<h1>Bonjour {{ user.name}} ! Confirmez votre changement de mot de passe</h1>

<p>
    Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien ci-dessous : <br><br>
    <a href="{{ url|raw }}">{{ url|raw }}</a>
</p>

<p>
    Cordialement<br>
    <i>Bleautop</i>
</p>
