{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <main class="container-fluid">
        <section class="login">
            <div class="row p-5">
                <div class="col-4 offset-4">
                    <h1>Nouveau mot de passe</h1>
                    {{ form_start(passForm)}}
                        {{ form_row(passForm.plainPassword) }}
                        <div class="text-end">
                            <button class="btn btn-primary" type="submit">Envoyer</button>
                        </div>
                    {{ form_end(passForm) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
