{% extends 'base.html.twig' %}

{% block title %}cgu - cgv{% endblock %}

{% block body %}

    <section class="cgucgv">
        <div>
            <p>CONDITIONS D’UTILISATION DU SITE<br>
    WWW.BLEAUTOP.FR<br>
    En vigueur à compter du 1er avril 2018<br>
    Nous vous souhaitons la bienvenue sur ce site dédié à la marque Bleautop (ci-après le « Site »).<br>
    Nous vous invitons à lire attentivement les présentes conditions d’utilisation qui régissent la navigation sur ce Site (ci-après les « Conditions d’Utilisation »). En utilisant le Site vous
    acceptez sans réserve les présentes Conditions d’Utilisation.<br>
    Pour toute demande relative à votre utilisation du Site, vous pouvez Nous contacter en cliquant sur le lien suivant : contact<br>
    SOMMAIRE<br>
    MENTIONS LÉGALES<br>
    1. CHARTE DE BONNE CONDUITE<br>
    2. DONNÉES À CARACTÈRE PERSONNEL<br>
    3. COOKIES<br>
    MENTIONS LÉGALES<br>
    URL du Site: www.bleautop.fr<br>
    Contact : Courrier électronique : contact - Numéro de téléphone : 09 72 72 01 23<br>
    Directeur de la Publication : Céline Brucker<br>
    Editeur: société Bleautop, société anonyme au capital de 111 534 349,60 euros, dont le siège social est 14, rue Royale 75008 Paris, inscrite au Registre du Commerce et des Sociétés de
    Paris sous le numéro 632 012 100, agissant au nom et pour le compte de sa marque Bleautop Paris (ci-après la « Société Editrice » ou « nous »). N° de TVA intracommunautaire :
    FR10632012100<br>
    Hébergeur : société Verizon France, SAS au capital de 45 120 823,47 euros, dont le siège social est sis 16 Place De L’Iris à Courbevoie, inscrite au Registre du Commerce et des Sociétés de
    Nanterre sous le numéro RCS 398 517 169 Numéro de téléphone : 01 53 75 82 00<br>
    1. CHARTE DE BONNE CONDUITE<br>
    Nous défendons des valeurs de tolérance et de respect d’autrui.<br>
    Pour cette raison, en utilisant ce Site, vous vous interdisez de :<br>
    véhiculer des propos racistes, violents, xénophobes, malveillants, vulgaires, obscènes ou encore illicites,
    diffuser un contenu préjudiciable, diffamatoire, non autorisé, malveillant, portant atteinte à la vie privée ou aux droits à l’image, incitant à la violence, à la haine raciale ou ethnique, ou un
    contenu constituant un outrage aux bonnes moeurs ou une incitation à la réalisation de certains délits et crimes ;<br>
    utiliser le Site pour faire de la politique, de la propagande ou du prosélytisme ;<br>
    publier des contenus publicitaires ou promotionnels pour des produits et/ou services concurrents de la(ou les) marque(s) présentée(s) sur le Site ;<br>
    détourner le Site de sa finalité, notamment en l’utilisant comme un espace de rencontre ;<br>
    diffuser des informations permettant, directement ou indirectement l’identification nominative et précise d’une personne physique sans son consentement exprès et préalable, telles que
    notamment le nom de famille, l’adresse postale, l’adresse de courrier électronique, le numéro de téléphone ;<br>
    diffuser des informations ou contenus susceptibles de heurter la sensibilité des plus jeunes ;<br>
    intimider ou harceler autrui ;<br>
    mener des activités illégales, notamment portant atteinte aux titulaires de droits sur des logiciels, marques, photographies, images, textes, vidéos etc. ;<br>
    diffuser des contenus (notamment des photographies et des vidéos) représentant des mineurs.<br>
    Si vous découvrez un Contenu Utilisateur faisant l’apologie des crimes contre l’humanité, incitant à la haine raciale et/ou à la violence ou concernant la pornographie enfantine, vous devez
    Nous en informer immédiatement ici : contact soit en adressant un courrier circonstancié à l’adresse suivante : Service Consommateurs de Bleautop Paris, 30 rue d’Alsace 92300 Levallois-
    Perret, en indiquant dans votre courriel/courrier la date à laquelle vous avez constaté ce contenu, votre identité, l’adresse URL du contenu litigieux, sa description et l’identifiant de son
    auteur.<br>
    Si vous estimez qu’un Contenu Utilisateur porte atteinte aux principes énoncés ci-dessus et à vos droits ou aux droits d’un tiers (par exemple contrefaçon, insulte, atteinte à la vie privée),
    vous pouvez le notifier ici : contact, soit en adressant un courrier circonstancié à l’adresse suivante : Service Consommateurs de Bleautop Paris, 30 rue d’Alsace - 92300 Levallois-Perret, en
    indiquant dans votre courriel/courrier la date à laquelle vous avez constaté ce contenu, votre identité, l’adresse URL du contenu litigieux, sa description et l’identifiant de son auteur.<br>
    Conformément aux dispositions de l’article 6-I-5 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, la notification devra contenir :<br>
    la date de la notification ;<br>
    pour une personne physique : nom, prénoms, profession, domicile, nationalité, date et lieu de naissance ;<br>
    le nom et le domicile du destinataire ou, s’il s’agit d’une personne morale, sa dénomination et son siège social ;<br>
    la description des faits litigieux et leur localisation précise (ex : lien URL du contenu litigieux) ;<br>
    les motifs pour lesquels le contenu doit être retiré, comprenant la mention des dispositions légales et des justifications de faits ;<br>
    la copie de la correspondance adressée à l’auteur ou à l’éditeur des informations ou activités litigieuses demandant leur interruption, leur retrait ou leur modification, ou la justification de
    ce que l’auteur ou l’éditeur n’a pu être contacté.<br>
    Toute notification incomplète sera susceptible de ne pas être traitée. ATTENTION : Le fait, pour toute personne, de présenter un contenu ou une activité comme étant illicite dans le but
    d’en obtenir le retrait ou d’en faire cesser la diffusion en lui présentant des informations fausses ou inexactes est puni d’une peine d’un an d’emprisonnement et de 15 000 euros d’amende.<br>
    9. DONNÉES À CARACTÈRE PERSONNEL<br>
    Nous pouvons être amenés à collecter des données à caractère personnel vous concernant, notamment lorsque vous (i) vous souscrivez à un service, (ii) téléchargez un Contenu
    Téléchargeable, (iii) vous authentifiez, (iv) vous inscrivez à un jeu/concours, (v) Nous faites parvenir un courrier électronique, (vi) répondez à un sondage ou à une étude.<br>
    Vos données à caractère personnel sont enregistrées dans un fichier informatisé par Bleautop pour le compte de sa marque Bleautop Paris pour les finalités suivantes :<br>
    Etudes statistiques : nous compilons et étudions vos données afin de définir votre profil et de mieux adapter nos services à vos attentes. Ces études statistiques sont strictement
    confidentielles ;<br>
    Suivi de la relation client : si vous nous faites parvenir un message, les données sont conservées et utilisées afin d’apporter une réponse à votre demande et d’en assurer le suivi ;<br>
    Fourniture de services : l’envoi de newsletters, l’accès à certains espaces de conseil, etc.<br>
    Elles sont conservées pendant 3 ans et sont destinées à Bleautop Paris.<br>
    Conformément aux dispositions règlementaires et législatives en vigueur, vous bénéficiez d’un droit d’accès, de rectification et de suppression des données qui vous concernent. Vous
    pouvez exercer ce droit à tout moment en adressant un courrier, accompagné d’une photocopie d’un justificatif d’identité, à l’adresse suivante :<br>
    Bleautop Paris France<br>
    Service Digital<br>
    30 rue d’Alsace<br>
    92 300 Levallois-Perret<br>
    France<br>
    Pour plus d’informations sur le traitement de vos données à caractère personnel, Nous vous invitons à consulter notre Politique relative aux données à caractère personnel accessible ici.<br>
    10. COOKIES<br>
    Les cookies sont de petits fichiers qui sont déposés sur votre dispositif lors de votre navigation sur le Site (comme par exemple les pages que vous avez consultées, la date et l’heure de la
    consultation, etc.) et qui pourront être lus lors de vos visites sur ce même Site (ci-après les « Cookies »)<br>
    Pour plus d’informations sur l’utilisation des Cookies sur le Site, Nous vous invitons à consulter notre tableau sur les Cookies, accessible ici.<br>
    11. MODIFICATION DU SITE ET DES CONDITIONS D’UTILISATION<br>
    Nous pouvons être amenés à modifier les contenus et informations inclus dans ce Site ainsi que les présentes Conditions d’Utilisation, notamment afin de respecter toute nouvelle
    législation et/ou réglementation applicable et/ou afin d’améliorer le Site.<br>
    Toute modification sera portée à votre connaissance sur le Site avant sa prise d’effet dans le cadre des présentes Conditions d’Utilisation. Sauf si la modification implique votre
    acceptation expresse, le fait que vous continuiez à utiliser le Site implique que vous acceptez les nouvelles Conditions d’Utilisation.<br>
    12. CRÉDITS<br>
    Le Site a été développé pour la Société Editrice par OSF Global France, S.A.S au capital de 2000 euros, dont le siège social est sis 2 Place de la défense 92974 PARIS LA DÉFENSE CEDEX,
    immatriculée au RCS de Nanterre sous le numéro 750 118 895, adresse mail : france@osf-global.com, numéro de téléphone : +33 (0)9 70 44 99 50<br>
    13. AVERTISSEMENT<br>
    Nous nous efforçons de maintenir le Site et le Contenu Téléchargeable accessibles à tout moment. En revanche, nous ne pouvons garantir la disponibilité et l’accessibilité permanente du
    Site. En effet, nous pouvons nous trouver dans l’obligation de suspendre momentanément l’accès partiel ou total au Site notamment pour des raisons techniques de maintenance.<br>
    Il est précisé également que le réseau Internet et les systèmes informatiques et de télécommunications ne sont pas exempts d’erreurs et que des interruptions et pannes peuvent survenir.<br>
    Nous ne pouvons fournir aucune garantie à cet égard et ne saurait dès lors être responsable pour tous dommages inhérents auxdites utilisations du réseau Internet et des systèmes
    informatiques et de télécommunications, notamment sans que cette liste ne soit limitative :<br>
    la mauvaise transmission et/ou réception de toute donnée et/ou information sur Internet ;<br>
    une intrusion extérieure ou la présence de virus informatique ;<br>
    la défaillance de tout matériel de réception ou des lignes de communication ; et
    tout autre dysfonctionnement du réseau Internet empêchant le bon fonctionnement de du Site.<br>
    Enfin, notre responsabilité ne pourra être engagée qu’au titre de dommages directs, à l’exclusion de tous autres dommages ou préjudices de quelque nature que ce soit. En particulier, les
    dommages indirects liés tels que, de manière non exhaustive, la perte de profits ou de revenus ou la perte de clientèle.<br>
    14. DROIT APPLICABLE ET LITIGES<br>
    Les Conditions d’Utilisation sont soumises à la loi française.<br>
    Pour tout problème, merci de prendre contact avec notre Service Client :<br>
    Contacter le service client<br>
    09 72 72 01 23<br>
    Du lundi au vendredi de 9h à 19h (coût d’un appel local)<br>
    Conformément aux dispositions du Code de la consommation concernant le règlement amiable des litiges, Bleautop adhère aux services du Centre de Médiation et d’Arbitrage de Paris (ciaprès
    le « Médiateur ») dont les coordonnées sont les suivantes : 39 avenue Franklin D. Roosevelt - 75008 Paris - http://www.cmap.fr.<br>
    En cas de réclamation écrite non résolue par notre Service Consommateurs, vous pouvez saisir gratuitement le Médiateur. Pour connaître les modalités de saisine du Médiateur, cliquez
    ici. Au niveau européen, la Commission Européenne a également mis en place une plateforme de résolution en ligne des litiges accessible ici.<br>
    A défaut de résolution du litige dans le cadre de cette médiation, le litige sera porté devant les juridictions françaises compétentes.</p>
        </div>

    </section>

{% endblock %}
