{% extends 'base.html.twig' %}

{% block title %}faq{% endblock %}

{% block body %}

    <section class="faq">
        <div>
            <h1>Foire aux questions</h1><br><br>
            <p>A quelle fédération sportive est rattachée la section Escalade de l’ESC15 ?<br>
        Le club ESC15 est affilié à la Fédération Sportive et Gymnique du Travail (FSGT).<br>
        Proposez-vous des cours d’escalade ?<br>
        Le club ne propose pas les services de moniteurs diplômés d’ État. Le club ne dispense pas de cours d’escalade.<br>
        Je débute en escalade, proposez-vous des sessions d’initiation ?<br>
        Des sessions d’initiation, animées par des bénévoles diplômés de la Fédération (Initiateurs SAE), sont organisées en début d’année.<br>
        Puis-je inscrire mes enfants ?<br>
        Nous ne donnons pas de cours enfants, ni ados. Une pratique partagée parents/ enfants a lieu le samedi après midi au gymnase de la Croix-Nivert.<br>
        Les ateliers Parents/Enfants sont des séances où les enfants apprennent à grimper en toute en sécurité et découvrent la diversité des jeux d’escalade.<br>
        Les parents sont présents pendant toute la séance.<br>
        A quels gymnases vais-je avoir accès avec mon inscription ?<br>
        Section adultes<br>
        lundi et le jeudi soir au gymnase de La Plaine<br>
        vendredi et samedi soir au gymnase de la Croix-Nivert<br>
        dimanche matin au gymnase de la Croix-Nivert<br>
        Ateliers Parents-Enfants samedi après-midi au gymnase de la Croix-Nivert<br>
        Dois-je investir dans du matériel ?<br>
        Le club d’escalade ne dispose pas de matériel à prêter. Pour votre première séance, vous devez vous équiper de chaussons d’escalade et d’un baudrier. Consultez nos conseils pour l’achat du matériel.<br>
        Dois-je obligatoirement m’inscrire en binôme ?<br>
        Vous pouvez vous inscrire seul ou avec un binôme. Tout au long de l’année, la plupart des grimpeurs viennent seuls et les duos se constituent sur place au début des séances.<br>
        Je n’ai pas trouvé de réponse à ma question. Pour toute question, vous pouvez utiliser le formulaire de contact dédié.</p>
        </div>
    </section>

{% endblock %}
