{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}

    <section class="faq">
        <div>
            <h1>Politique de confidentialité</h1><br><br>
            <p>Règlement Général sur la Protection des Données (RGPD)<br>
                Bleautop s’engage à respecter le Règlement Général sur la Protection des Données (RGPD).<br>
                Les informations recueillies dans le formulaire de contact sont enregistrées dans un fichier informatisé et ne sont utilisées par Jérémy DONIAK uniquement dans le cadre des missions qui lui sont confiées ou de la prise de contact avec Bleautop.<br>
                Elles sont conservées pendant 1 an.<br>
                Vous pouvez accéder aux données qui vous concernent, les rectifier, demander leur effacement ou exercer votre droit à la limitation du traitement de vos données. Vous pouvez également retirer à tout moment votre consentement et vous opposer au traitement de vos données.<br>
                Consultez le site Internet de la CNIL pour plus d’informations sur vos droits.<br>
                Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez contacter Jérémy DONIAK – Bleautop à l’adresse mail suivante : contact@jeremy-doniak-portefolio.com/<br>
                Si vous estimez, après avoir contacté Jérémy DONIAK – Bleautop, que vos droits « Informatique et Libertés » ne sont pas respectés, vous pouvez adresser une réclamation auprès de la CNIL.<br><br>
                Entreprise<br>
                Bleautop, représentée par Jérémy DONIAK<br>
                contact@jeremy-doniak-portefolio.com/<br>
                SIRET<br>
                000 000 000 00000</p>
        </div>
    </section>

{% endblock %}
