@font-face {
    font-family: 'Helvetica Rounded';
    src: url(../webfonts/HelveticaRounded-Bold.otf) format("opentype");

}
@font-face {
    font-family: 'Helvetica Rounded Condensed';
    src: url(../webfonts/HelveticaRounded-BoldCond.otf) format("opentype");

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Rounded', Helvetica, Arial, sans-serif;
    color: #303031;
    text-decoration: none !important;
    list-style: none !important;
}

h1, h2, h3 {
    font-family: 'Helvetica Rounded Condensed', Helvetica, Arial, sans-serif;
}

h3 {
    font-size: 40px;
    text-align: center;
}

p {
    text-align: justify;
}

.btn {
    color: #303031;
    background-color: #dfd6cb;
    border-radius: 2em;
    padding: 1em 2em 1em 2em;
    text-align:center;
    position: relative;
}

.btn a {
    color: #303031;
    text-align:center;
}

.btn:hover {
    background-color: #303031;
    color: #dfd6cb;
    transition: all 0.3s ease-in-out;
}

.btn:hover a{
    color: #dfd6cb;
}

/****************** HEADER *******************/

header {
    width: 100vw;
    height: 80px;
    max-height: 80px;
    background-color: #303031;
    border-bottom: #B5C1BA solid 2px;
    position: fixed;
    z-index: 9000;
}

    #header_container {
        height: 80px;
        max-height: 80px;
        padding-left: 10%;
        padding-right: 10%; 
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }

    .logos {
        max-height: 80px;
        max-width: 300px;
        display: flex;
        align-items: center;
    }

    .logos a {
        width: 75%;
        margin-right: 0.8em;
    }

    .logos img {
        width: 100%;
    }

    nav {
        position: relative;

    }

    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    nav li {
        display: inline-block;
        align-items: center;
    }

        li a {
            border-radius: 20px;
            padding: 0.5em 0.4em 0.5em 0.4em;
            margin: 0 0.3em 0 0.3em;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            color: #B5C1BA !important;
        }

    nav a:hover {
        background-color: #B5C1BA ;
        color: #303031 !important;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    nav input {
        display: none;
    }
    
    @media screen and (max-width: 992px) {
        nav ul {
            margin: 0;
            padding: 0;
            /* width: 100vh; */
            background-color: #303031;
            display: none;
            position: absolute;
            top: 60px;
            right: 0;
        }

        nav li {
            display: inline-block;
            align-items: center;
        }
    
            li a {
                border-radius: 20px;
                padding: 0.2em;
                margin: 0.2em;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                color: #B5C1BA !important;
            }
    }

    @media screen and (min-width: 992px) {
        .hamburger {
            display: none;
        }
    }

    [id=nav-hamburger]:checked + ul {
        display:flex;
        align-items: center;
        justify-content:center;
        flex-wrap: wrap;
        width: 80vw;
        padding: 0.8rem;
    }

    svg rect {
        fill: #B5C1BA;
        border-radius: 3px;
        cursor: pointer;
    }


.baseflash {
    position: relative;
}

.baseflash div{
    display: flex;
    justify-content:center;
}


/****************** FOOTER *******************/

footer {
    width: 100%;
    height: 80px;
    max-height: 80px;
    background-color: #303031;
    border-top: #B5C1BA solid 2px;
}

    #footer_container {
        height: 80px;
        max-height: 80px;
        padding-left: 10%;
        padding-right: 10%; 
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }

footer p {
    color: #B5C1BA;
    margin: 0;
    padding: 0;
}

/****************** BASE *******************/

section {
    min-height: 100vh;
    max-width: 100%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%; 
}

table img {
    width: 100px;
}
