@font-face {
    font-family: 'Helvetica Rounded';
    src: url(../webfonts/HelveticaRounded-Bold.otf) format("opentype");

}
@font-face {
    font-family: 'Helvetica Rounded Condensed';
    src: url(../webfonts/HelveticaRounded-BoldCond.otf) format("opentype");

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Rounded', Helvetica, Arial, sans-serif;
    /* color: #B5C1BA; */
    text-decoration: none !important;
    list-style: none !important;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 78px;
}

:root {
    font-size: 12px;
}

h1 {
    font-size: 1.4rem;
}

@media screen and (min-width: 992px) {
    :root {
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {
    :root {
        font-size: 10px;
    }
}


h1, h2, h3 {
    font-family: 'Helvetica Rounded Condensed', Helvetica, Arial, sans-serif;
}

h3 {
    font-size: 2.5rem;
    text-align: center;
}

@media screen and (max-width: 992px) {
    h3 {
        font-size: 2rem;
    }
}

p {
    text-align: justify;
}

.btn_shape {
    color: #303031;
    border-radius: 2em;
    padding: 1em 2em 1em 2em;
    margin: 0px 5px 0px 5px;
    text-align:center;
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;
}

.btn {
    color: #303031;
    background-color: #dfd6cb;
    border-radius: 2em;
    padding: 1em 2em 1em 2em;
    margin: 0px 5px 0px 5px;
    text-align:center;
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;
}

@media screen and (max-width: 992px) {
    .btn {
        padding: 0.5em 1em 0.5em 1em;
        margin: 0.3em 0.5em 0.3em 0.5em;
    }

    .btn_shape {
        padding: 0.5em 1em 0.5em 1em;
        margin: 0.3em 0.5em 0.3em 0.5em;
    }
}

.btn a {
    color: #303031;
    text-align:center;
}

.btn:hover {
    background-color: #303031;
    color: #dfd6cb;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content:center;
    align-items:center;
}

.btn:hover a{
    color: #dfd6cb;
}

.btn-products {
    display: flex;
}

@media screen and (max-width: 992px) {
    .btn-products {
        display: flex;
        flex-direction: column;
    }
}

/* .text-end {
    display: flex;
} */

tbody, td, tfoot, th, thead, tr {
    color: #303031;
}

/****************** HEADER *******************/

header {
    width: 100vw;
    height: 80px;
    max-height: 80px;
    background-color: #303031;
    border-bottom: #B5C1BA solid 2px;
    position: fixed;
    z-index: 9000;
}

    #header_container {
        height: 80px;
        max-height: 80px;
        padding-left: 10%;
        padding-right: 10%; 
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }

    .logos {
        height: 80px;
        max-height: 80px;
        max-width: 300px;
        display: flex;
        align-items: center;
    }

    .logos a {
        width: 75%;
        margin-right: 0.8em;
    }

    .logos_sociaux {
        display: flex;
        flex: 1;
    }

    .logos img {
        width: 100%;
    }

        .logos_sociaux img {
            width: 1.2em;
        }

    #cart {
        border: #B5C1BA solid 2px;
    }

    #cart img {
        width: 30px;
        color: #B5C1BA;
    }

    .dropdown-menu {
        background-color: #303031;
    }

    .dropdown-divider {
        background-color: #B5C1BA;
        color: #B5C1BA ;
        border: #B5C1BA solid 2px;
    }

    nav {
        position: relative;

    }

    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }
    
    nav li {
        display: inline-block;
        align-items: center;
    }

        li a, li #cart {
            border-radius: 20px;
            padding: 0.5em 0.4em 0.5em 0.4em;
            margin: 0 0.3em 0 0.3em;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            color: #B5C1BA !important;
        }
        
        nav a:hover, #cart:hover, .dropdown-item:hover {
            background-color: #B5C1BA ;
            color: #303031 !important;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            fill: #303031 !important;
        }

        #cart svg:hover path, #cart svg:hover circle{
            fill:#303031 !important;
        }
        
        nav input {
            display: none;
        }
        
        @media screen and (max-width: 992px) {
            nav ul {
                margin: 0;
                padding: 0;
                /* width: 100vh; */
                background-color: #303031;
                display: none;
                position: absolute;
                top: 60px;
                right: 0;
            }

            nav li {
                display: inline-block;
                align-items: center;
            }
        
                li a, li #cart {
                    border-radius: 20px;
                    padding: 0.2em;
                    margin: 0.2em;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                    color: #B5C1BA !important;
                }

                li #cart {
                    padding: 0.5em;
                }
        }
    
        @media screen and (min-width: 992px) {
            .hamburger {
                display: none;
            }
        }
    
        [id=nav-hamburger]:checked + ul {
            display:flex;
            align-items: center;
            justify-content:center;
            flex-wrap: wrap;
            width: 80vw;
            height: 80px;
            padding: 0.4rem;
        }

    svg rect {
        fill: #B5C1BA;
        border-radius: 3px;
        cursor: pointer;
    }

.cart_resume {
    visibility: hidden;
    color: #303031 !important;
    background-color: rgba(48, 48, 49, 0.8);
    max-width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: flex-end;
}

.cart_container {
    color: #303031 !important;
    background-color:#f5f5f5;
    width: 35%;
    max-width: 40%;
    padding: 1em 1em 3em 1em;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    position: relative;
}

    .cart_container div{
        display: flex;
        justify-content:center;
    }

    .cart_container li {
        margin-bottom: 0.8em;
        color: #303031 !important;
    }

    .cart_container img {
        max-width: 80px;
        width: 80px;
    }

    @media screen and (max-width: 992px) {
        .cart_resume {
            justify-content: center;
            min-height: calc(100vh - 80px);
        }

        .cart_container {
            max-width: 80%;
            width:80%;
            top: 80px;
            height: calc(100vh - 162px);
        }
    }

.baseflash {
    position: relative;
}

.baseflash div{
    display: flex;
    justify-content:center;
}

/****************** FOOTER *******************/

footer {
    width: 100%;
    height: 80px;
    max-height: 80px;
    background-color: #303031;
    border-top: #B5C1BA solid 2px;
    color: #B5C1BA;
}

    #footer_container {
        height: 80px;
        max-height: 80px;
        padding-left: 10%;
        padding-right: 10%; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;  
    }

footer p {
    margin: 0;
    padding: 1em;
}

@media screen and (max-width: 992px) {
    footer p {
        margin: 0;
        padding: 0.5em;
        /* font-size: 0.8rem; */
    }
}

/*//////////////////////////////// PAGE - HOME ////////////////////////////////*/

/****************** SECTION-1 INTRO *******************/

.intro_container {
    max-width: 100%;
    background-image: url(../img/fond_base.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 960px;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%; 
}

    .intro_container h1 {
        left: -2000px;
        width: 450px;
        position: relative;
        font-size: 3rem;
        color: #f5f5f5;
        text-align: right;
        max-height: 120px;
        margin-top: 120px;
        margin-bottom: 80px;
    }

    .intro_container div {
        display: flex;
        justify-content: flex-end;
    }

        .intro_container div div{
            margin-left: 1.8em;
        }

.btnleft, .btnright {
    opacity: 0%;
}

/****************** SECTION-2 CAROUSEL *******************/

.sec_carousel {
    max-width: 100%;
    height: 460px;
    background-color: #f5f5f5;
    padding: 0 10% 0 10%;
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

    .arrow_left p, .arrow_right p{
        font-size: 80px;
        color: #B5C1BA;
        cursor: pointer;
        z-index: 8000;
    }

    .arrow_left p:hover, .arrow_right p:hover{
        font-size: 80px;
        color: #303031;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .carousel_container {
        max-width: 100%;
        /* height: 460px; */
        background-color: #f5f5f5;
        display: flex;
        justify-content:center;
    }

        .carousel_item {
            max-height: 460px;
            position: relative;
            display: none;
        }

        .carousel_item.active {
            display: flex;
        }

        .carousel_item img {
            max-width:100%;
            max-height:100%;
        }

        .carousel_item span {
            max-height: 460px;
            max-width: 100%;
            width: 100%;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            bottom: 0;
        }

            .carousel_item p {
                font-size: 2rem;
                color: #B5C1BA ;
                text-align: center;
                background-color: rgba(48, 48, 49, 0.8);
                border-radius: 2em;
                padding: 0.5em;
                margin-bottom: 1.2em;
                white-space: nowrap;
            }

.active {
    animation: fade 0.8s;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/****************** SECTION-3 RENOVATION *******************/

.sec_renov {
    /* height: 460px; */
    background-color: #f5f5f5;
    padding: 50px 10% 50px 10%;
    display: flex;
    flex-direction: column;
}

    .sec_renov h3, .sec_renov h4, .sec_renov p, .sec_renov a {
        color: #303031;
    }

    .renov_container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .renov_container div {
        width: 32%;
        height: 100%;
    }

    @media screen and (max-width: 992px) {
        .renov_container {
            display: flex;
            flex-direction: column;
        }

        .renov_container div {
            width: 100%;
            height: 100%;
        }
    }

            .sec_renov li {
                color: #303031;
                list-style-type: disc;
            }

            .renov_container img {
                max-width: 100%;
                width: 100%;
            }

.renov_container p, .renov_container li{
    margin-top: 1.8em;
    margin-bottom: 1.8em;
}

.plus {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plus .btn {
    /* white-space: nowrap; */
    width: 60%;
}

/****************** SECTION-4 ABOUT *******************/

.sec_about {
    /* height: 460px; */
    color: #B5C1BA;
    background-color: #303031;
    padding: 50px 10% 50px 10%;
}

.our_values {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  
}

.our_values div {
    width: 30%;
    height: 100%;
}

@media screen and (max-width: 992px) {
    .our_values {
        display: flex;
        flex-direction: column;
    }

    .our_values div {
        width: 100%;
        height: 100%;
    }
}

.sec_about p{
    margin-top: 1.8em;
    margin-bottom: 1.8em;
}

/****************** SECTION-5 INFO *******************/

.sec_info {
    /* height: 460px; */
    background-color: #f5f5f5;
    padding: 50px 10% 50px 10%;
}

.informations {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.informations div {
    width: 25%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media screen and (max-width: 992px) {
    .informations {
        display: flex;
        flex-direction: column;
    }

    .informations div {
        width: 100%;
    }
}

.sec_info p{
    margin-top: 1.8em;
    margin-bottom: 1.8em;
    text-align: center;
    color: #303031;
}

.sec_info a{
    margin-bottom: 2em;
    text-align: center;
    color: #303031;
}

.adresse {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adresse p {
    margin: 0;
}

.logos_sociaux2 {
    display: flex;
    justify-content:center;
}

.logos_sociaux2 a{
    margin: 0 0.3em 0 0.3em;
}

.aide {
    display: flex;
    flex-direction: column;
}

.sec_info h4{
    text-align: center;
    color: #303031;
    font-family: 'Helvetica Rounded', Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 1.8em;
}

#email {
    width: 100%;
    max-width: 100%;
    border-radius: 1.5em;
    border-color: #303031;
    padding: 0.8em;
}

iframe {
    width: 100%;
}

/*//////////////////////////////// PAGE - CGU - CGV ////////////////////////////////*/

.cgucgv {
    background-color: #f5f5f5;
    padding: 80px 10% 0 10%;
    min-height: calc(100vh - 82px);
}

.cgucgv div{
    padding: 10%;
}

.cgucgv p{
    text-align:center;
    color: #303031;
}

/*//////////////////////////////// PAGE - FAQ ////////////////////////////////*/

.faq {
    background-color: #f5f5f5;
    padding: 80px 10% 0 10%;
    min-height: calc(100vh - 82px);
}

.faq div{
    padding: 10%;
}

.faq p, .faq h1{
    text-align:center;
    color: #303031;
}

.faq h1 {
    font-size: 40px;
}

/*//////////////////////////////// PAGE - PAYMENT ////////////////////////////////*/

.payment {
    background-color: #f5f5f5;
    padding: 80px 10% 0 10%;
    min-height: calc(100vh - 82px);
}

/*//////////////////////////////// PAGE - RENOVATION ////////////////////////////////*/

/****************** Partie - 1 *******************/

.card_produit_container_renov {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.card_produit_renov {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0.5rem;
}

.card_produit_renov div {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    text-align: center;
}

.card_produit_renov div img {
    max-width: 100%;
    max-height: 200px;
}

.renovation h2, .renovation p, .renovation label {
    color: #303031;
}

.renovation b, .renovation h2 {
    color: #303031;
    font-size: 2rem;
    white-space: nowrap;
}

.renovation h1 {
    color: #303031;
    font-size: 3rem;
    text-align:center;    
}

.arrow_down {
    display: flex;
    justify-content:center;
}

.arrow_down a {
    font-size: 4rem;
    color: #B5C1BA;
    cursor: pointer;
    z-index: 8000;
}

.arrow_down a:hover {
    font-size: 4rem;
    color: #303031;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.renovation {
    background-color: #f5f5f5;
    padding: 80px 10% 0 10%;
    display: flex;
    flex-direction: column;
}

.renovation_container {
    display: flex;
    align-items: center;
}

.card_renov{
    display: flex;
    margin:1em 2em;
    align-items: center;
}

.card_renov div{
    margin:2em;
}

.check_condition {
    margin:2em 0 !important;
}

/****************** Partie - 2 *******************/
.renov_forfait {
    background-color: #303031;
    color: #B5C1BA;
    padding: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.renov_forfait a {
    color: #B5C1BA;
}

.renov_forfait div{
    display: flex;
    margin: 1.5em;
}

@media screen and (max-width: 992px) {
    .renov_forfait div{
        display: flex;
        flex-direction: column;
        margin: 1em;
    }
}

.card_forfait{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.renov_forfait h2, .renov_forfait p{
    text-align:center;
}

.renov_forfait h2 {
    font-size: 3rem;
    margin-bottom: 0.5em;
}

.renov_forfait b {
    font-size: 2rem;
}

.renov_forfait a {
    text-decoration: solid;
    margin-bottom: 1.8em;
}

/*//////////////////////////////// PAGE - CONTACT ////////////////////////////////*/

.contact {
    min-height: 60vh;
    background-color: #f5f5f5;
    padding: 80px 10% 80px 10%;
    display: flex;
    flex-direction: column;
}

.bg {
    max-width: 100%;
    background-image: url(../img/fond_contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: calc(40vh - 82px);

}

.container-contact {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: 1em;
}

.contactez {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactez h4, .contactez p {
    color: #303031;
}

.logos_sociaux_contact {
    display: flex;
    justify-content:center;
}

.logos_sociaux_contact a{
    margin: 0 0.3em 0 0.3em;
}

.form_contact {
    width: 100%;
    max-width: 100%;
}

.form_contact form{
    display: flex;
    flex-direction: column;
}

/* .form_contact form div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */

.form_contact .btn {
    border: hidden;
    margin: 2em 0;
}

.form_contact form span {
    width: 100%;
    max-width: 100%;
    display: flex;
    margin: 1em 0;
}

.form_contact form p {
    width: 100%;
    max-width: 100%;
    color: #303031;
    margin: 1em 0;
    margin-right: 1em;
    text-align:initial;
}

.form_contact form span label{
    color: #303031;
    margin-left: 10px;
}

#email_contact, #name_contact, #comment_contact {
    width: 100%;
    max-width: 100%;
    border-radius: 1.5em;
    border-color: #303031;
    padding: 0.8em;
    margin: 0.8em;
}

@media screen and (max-width: 992px) {
    .container-contact {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }

    .contactez {
        width: 100%;
        padding-bottom: 2em;
    }
}

/*//////////////////////////////// PAGE - PRODUIT ////////////////////////////////*/

.produit {
    min-height: calc(100vh - 82px);
    background-color:#f5f5f5;
    max-width: 100%;
    padding: 80px 10% 0 10%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produit div {
    margin: 2em;
}

.produit ul {
    margin: 1em;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items:center;
}

.produit li {
    display: inline-block;
    align-items: center;
    margin: 0 1em;
    border: #303031 solid 1px;
    border-radius: 20px;
}

@media screen and (max-width: 992px) {
    .produit li {
    margin: 0 0.3em;
    }
}

    .produit li a {
        padding: 0 0.5em;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        color: #303031 !important;
        display: flex;
        justify-content:center;
    }

.produit a:hover, .produit .active {
    background-color: #B5C1BA;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: 0;
}

.produit p, .produit h3{
    color: #303031 !important;
    text-align:initial;
}

.produit b {
    color: #303031 !important;
    font-size: 2rem;
}

.produit .card_produit {
    display: flex;
    width:100%;
}

@media screen and (max-width: 992px) {

    .produit .card_produit {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.produit .btn {
    margin: 0 1rem;
    display: flex;
    justify-content:center;
}

.produit .btn a:hover{
    background-color: #303031;
}

.card_produit div {
    display: flex;
    flex-direction: column;
}

.card_produit div img {
    max-width: 100%;
}



/*//////////////////////////////// PAGE - PRODUITS ////////////////////////////////*/

.produits {
    min-height: calc(100vh - 82px);
    background-color:#f5f5f5;
    max-width: 100%;
    padding: 80px 10% 0 10%;
    display: flex;
    flex-direction: column;
}

.produits div {
    margin: 1em;
}

.produits ul {
    margin: 1em;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items:center;
}

.produits li {
    display: inline-block;
    align-items: center;
    margin: 0 1em;
    border: #303031 solid 1px;
    border-radius: 20px;
}

@media screen and (max-width: 992px) {
    .produits li {
    margin: 0 0.3em;
    }
}


    .produits li a {
        padding: 0 0.5em;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        color: #303031 !important;
        display: flex;
        justify-content:center;
    }

.produits li a:hover, .produits .active {
    background-color: #B5C1BA;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: 0;
}

.produits p, .produits h3{
    color: #303031 !important;
    text-align:initial;
}

.produits b {
    color: #303031 !important;
    font-size: 2rem;
}

.card_produits_container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.card_produits {
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: space-between;
}

.card_produits div {
    max-width: 100%;
    max-height: 100%;
}

.card_produits div img {
    max-width: 100%;
    max-height: 200px;
}

.produits .btn {
    display: flex;
    justify-content:center;
}

.produits .btn a:hover{
    background-color: #303031;
}

/*//////////////////////////////// PAGE - LOGIN ////////////////////////////////*/

.login {
    min-height: calc(100vh - 82px);
    background-color: #f5f5f5;
    padding: 80px 10% 0 10%;
}

.login div{
    padding: 1em;
}

.login p, .login h1{
    text-align:center;
    color: #303031;
}

.login h1 {
    font-size: 2rem;
}

/*//////////////////////////////// PAGE - REGISTER ////////////////////////////////*/

.register {
    min-height: calc(100vh - 82px);
    background-color: #f5f5f5;
    padding: 80px 10% 0 10%;
}

.register div{
    padding: 1em;
}

.register p, .register h1{
    text-align:center;
    color: #303031;
}

.register h1 {
    font-size: 2rem;
}

/*//////////////////////////////// PAGE - CART ////////////////////////////////*/

.cart {
    color: #303031 !important;
    background-color: #f5f5f5;
    padding: 80px 10% 0 10%;
    min-height: calc(100vh - 82px);
}

.cart p, .cart h1{
    text-align:center;
    color: #303031 !important;
}

.cart h1 {
    color: #303031 !important;
    font-size: 2rem;
}

.cart h2 {
    color: #303031 !important;
    font-size: 1.5rem;
}

.cart table img {
    max-width: 100%;
    max-height: 120px;
}

/*//////////////////////////////// PAGE - REGISTER ADDRESS ////////////////////////////////*/

.regAddress {
    min-height: calc(100vh - 82px);
    background-color: #f5f5f5;
    padding: 80px 10% 0 10%;
}

.regAddress div{
    padding: 1em;
}

.regAddress p, .regAddress h1{
    text-align:center;
    color: #303031;
}

.regAddress h1 {
    font-size: 2rem;
}

.regAddress table img {
    width: 100px;
}

/*//////////////////////////////// PAGE - USER ////////////////////////////////*/

.user {
    min-height: calc(100vh - 82px);
    background-color: #f5f5f5;
    padding: 80px 10% 0 10%;
}

.user div{
    padding: 1em;
}

.user p, .user h1{
    text-align:center;
    color: #303031;
}

.user h1 {
    font-size: 2rem;
}

.user table img {
    width: 100px;
}

.card_user_container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.card_user {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_user div {
    max-width: 100%;
    max-height: 100%;
}

.card_user div img {
    max-width: 100%;
    max-height: 200px;
}

.user .btn {
    display: flex;
    justify-content:center;
}

.user .btn a:hover {
    background-color: #303031;
}

.mytablemin {
    display: none;
}

@media screen and (max-width: 992px) {
    .card_user_container {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:space-around;
        align-items: center;
    }

    .card_user {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mytablemax {
        display:none;
    }

    .mytablemin {
        display:table;
    }
}

/*//////////////////////////////// PAGE - ADDRESSFORM ////////////////////////////////*/

.addressform {
    min-height: calc(100vh - 82px);
    background-color: #f5f5f5;
    padding: 80px 10% 0 10%;
}

.addressform div{
    padding: 0.5em;
}

.addressform p, .addressform h1{
    text-align:center;
    color: #303031;
}

.addressform h1 {
    font-size: 2rem;
}

.mytablemin {
    display: none;
}

@media screen and (max-width: 992px) {
    .addressform>.row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mytable>tbody>tr>td, .mytable>tbody>tr>th, .mytable>tfoot>tr>td, .mytable>tfoot>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th {
        padding: 0.1rem;
    }

    .addressform div{
        padding: 0.2em;
    }

    .addressform {
        padding: 80px 5% 0 5%;
    }

    .mytablemax {
        display:none;
    }

    .mytablemin {
        display:table;
    }
}


/*//////////////////////////////// PAGE - ERREUR ////////////////////////////////*/

.erreur {
    min-height: calc(100vh - 82px);
    padding: 10% 10% 0 10%;
}

.erreur h1, .erreur h2 {
    color: #303031 !important;
}

.erreur h1 {
    font-size: 2rem;
}

.erreur h2 {
    font-size: 1.5rem;
}

/*//////////////////////////////// COOKIE ////////////////////////////////*/

.cookie-consent-modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    align-items: flex-end;
}
.cookie-consent-modal.active{
    display: flex;
    justify-content:space-around;
    align-items:center;
}
.content{
    background-color: #f5f5f5;
    padding: 5vw;
    border-radius: 10px;
}

.content h1 {
    font-size: 2rem;
}

.btns-cookie{
    display: flex;
    justify-content: flex-end;
    margin: 2em 0;
}
.btn-cookie{
    border: none;
    outline: none;
    padding: .8em 1.5em;
    width: 100px;
    margin-right: 1em;
    border-radius: 3px;
    text-transform: uppercase;
}
/* .btn-cookie.accept{
    background-color: rgb(0, 185, 124);
    color: #f5f5f5;
} */

/* .btn-cookie.cancel{
    background-color: rgb(0, 185, 124);
    color: #fff;
} */

/*//////////////////////////////// PAGE - ORDER - RECAP ////////////////////////////////*/

.order {
    min-height: calc(100vh - 82px);
    background-color: #f5f5f5;
    padding: 80px 10% 0 10%;
}

.order div{
    padding: 1em 0;
}

.order p, .order h1{
    text-align:center;
    color: #303031;
}

.order h1 {
    font-size: 2rem;
}

.order table img {
    width: 100px;
}

.card_order_container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.card_order {
    width: 30%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_order div {
    max-width: 100%;
    max-height: 100%;
}

.card_order div img {
    max-width: 100%;
    max-height: 200px;
}

.order .btn {
    display: flex;
    justify-content:center;
}

.order .btn a:hover {
    background-color: #303031;
}

.select-address option:hover {
    width:auto;
    color: #303031;
    background-color: #B5C1BA;
}