{% extends 'baseAdmin.html.twig' %}

{% block title %}couleurs{% endblock %}

{% block body %}

    {{ form_start(colorForm) }}

        <div class="row">
            <div class="col-12">
                {{ form_row(colorForm.name, {'label': 'Nom'}) }}
            </div>
        </div>

        <div class="col-12 d-flex justify-content-end">
            <a href="{{ path('admin_color_index') }}" class="btn btn-danger m-3">Annuler</a>
            <button class="btn btn-success m-3">Créer / Modifier</button>
        </div>
        
    {{ form_end(colorForm) }}

{% endblock %}