{% extends 'baseAdmin.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}

    <h1>Accueil de l'espace administrateur</h1>

    <p>Merci de cliquer sur un lien dans la barre de navigation pour commencer à administrer votre site. Le contenu apparaîtra dans cette section.</p>

{% endblock %}
