{% extends 'baseAdmin.html.twig' %}

{% block title %}types{% endblock %}

{% block body %}

    {{ form_start(typesForm) }}

        <div class="row">
            <div class="col-12">
                {{ form_row(typesForm.name, {'label': 'Nom'}) }}
            </div>
        </div>

        <div class="col-12 d-flex justify-content-end">
            <a href="{{ path('admin_types_index') }}" class="btn btn-danger m-3">Annuler</a>
            <button class="btn btn-success m-3">Créer</button>
        </div>
        
    {{ form_end(typesForm) }}

{% endblock %}