{% extends 'base.html.twig' %}

{% block title %}paiement accepté{% endblock %}

{% block body %}

    <section class="payment">
        <main class="container-fluid py-5">
        
            <span class="row py-3 baseflash">
                <span class="col-8 offset-2">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash-{{ label }} bg-{{ label }} text-light text-center p-3 rounded">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </span>
            </span>
        
            <div class="row">
                <div class="col-6 offset-3">
                    <h2 class="mb-5">Paiement accepté</h2>
                    <p>Le paiement a été accepté et nous vous en remercions.</p>
                    <p>Une facture vous sera envoyée à l'adresse email communiquée lors de votre achat. Ce processus peut prendre quelques minutes. Si toutefois vous ne recevez votre facture, vous pouvez contacter un administrateur du site via le <a href="{{ path('contact') }}" class="text-primary">formulaire de contact</a>.</p>
                </div>
            </div>
        
        </main>
    </section>

{% endblock %}
